[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-watch = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
black = "==21.10b0"
matplotlib = "*"

[packages]
snps = {editable = true,path = "."}

[requires]
python_version = "3.7"
